<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connection1" value="server=172.23.81.133" />
		<add key="database1" value="MonoceptDb"/>
		<add key="uid" value="sa"/>
		<add key="pwd" value="pass123"/>
		<add key="connection2" value="server=172.23.91.144" />
		<add key="database2" value="AurionProDb"/>
		<add key="uid" value="sa"/>
		<add key="pwd" value="pass123"/>
	 </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>